<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
	<appSettings>
		<add key="GroceryStoreDBConnectionString"
   value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Projects\GroceryStore\db2.accdb" />
	</appSettings>
 <connectionStrings>
  <add name="GroceryStoreDBConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\GroceryStoreDB.accdb"
   providerName="System.Data.OleDb" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>